@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400&display=swap')

body
    font-family: 'IBM Plex Mono', monospace

input
    font-family: inherit

p
    font-size: 12px

.item
    margin: 6px
    border: 1px solid black
    background-color: #f0f0f0


    .description
        padding: 4px
        margin-bottom: 4px
        font-size: 12px

    img
        width: 100%
        height: 300px

        &:hover 
            filter: saturate(1)

        &:focus
            filter: saturate(1)
        
    .year
        padding: 2px
        background-color: black
        color: white

    .category
        padding: 2px
        background-color: #c6c6c6dd
        margin-left: 2px