@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400&display=swap')

body
    font-family: 'IBM Plex Mono', monospace

input 
    font-family: inherit

p
    font-size: 12px