---
import mainText from "../assets/maintext.svg";
import "../styles/main.sass";

import { Image } from "astro:assets";
import Search from "../components/Search";
import Main from '../components/Main'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/iso.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Las investigaciones mas importantes en el mundo de la Inteligencia Artificial facil y rapido."
    />
    <title>AI Vault</title>
  </head>
  <body>
    <header>
      <aside>
        <div class="top-section">
          <Image src={mainText} alt="iso" width={150} />
          <p>
            AI Vault is a hub of the most relevant AI research papers in the last 5 years.
          </p>
        </div>
        <Search client:load/>
      </aside>
      <main>
        <Main/>
      </main>
    </header>
  </body>
</html>
